<h2>Find a Walker!</h2>

<%= form_tag("search/results", :method => "get", :action => "search") do %>
  <%= label_tag(:search_param, "Search for:") %>
  <%= select_tag "neighborhoods", options_from_collection_for_select(@neighborhoods, :id, :name), multiple: true %>
  <%= submit_tag("Search") %>
<% end %>
