<div class="small-12 columns">

  <h1>Welcome to pupPromenade</h1>

  <% if walker_logged_in? %>
    <h4>Dog Walker's Profile</h4>

    <a href="/walkers/profile">Configure Profile</a>



    <%= render 'walker_prof_info' %>
  <% elsif owner_logged_in? %>

  <ul>
    <p>
      <h4>Owner's Profile</h4> <a href="/dogs/new">Add your pup!</a>
    </p>
    <p>
      <a href = "/search">Search for a Walker</a>
    </p>
    <p>
      <a href ="/owners/profile">Configure Your Profile</a>
    </p>
  </ul>

  <%= render 'owner_prof_info' %>



  <ul>
    <h2><small>Your Puppies!</small></h2>
  </ul>
  <ul>
    <% @dogs.each do |dog| %>
      <li><%=link_to(dog.name, controller: :dogs, action: :show, id: dog.id) %></li>
    <% end %>
  </ul>

  <% else %>

  <% end %>
</div>

<div class="fixed">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="right">
        <% if walker_logged_in? || owner_logged_in? %>
        <li class="active">
          <a href="logout">Logout</a>
        </li>
        <% else %>

        <li class="has-dropdown">
          <a>Sign Up</a>
          <ul class="dropdown">
            <li>
              <a href="owners/new">Sign Up as a Dog Owner</a>
            </li>
            <li>
              <a href="walkers/new">Sign Up as a Dog Walker</a>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="/session/new">Login</a>
        </li>
      </ul>
      <% end %>
    </section>
  </nav>
</div>
